@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* section {
  overflow: hidden;
  white-space: wrap;
  word-break: break-word;
} */

body {
  font-family: "Poppins", sans-serif;
}
#navbar {
  background-color: #45474b;
}

#intro {
  background-color: #f5f7f8;
  color: #45474b;
}

span {
  background-image: radial-gradient(circle, #f4ce14, #e3c224, #d3b62e, #c3ab35, #b39f3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  color: #f5f7f8;
  list-style: none;
  padding: 0 6rem;
}

.li-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.li-container li a {
  text-decoration: none;
  color: #f5f7f8;
}

.item1 {
  padding: 0 10px;
}

.intro-wrapper {
  background-color: #f5f7f8;
  height: 92vh;
  display: flex;
}

.intro-container {
  margin: 5.5rem 25rem 5.5rem 6rem;
  padding: 0%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f7f8;
}

.intro-paragraph1 {
  font-size: 1rem;
  margin: 0 0 20px 0;
}

.intro-h1 {
  text-transform: uppercase;
  font-size: clamp(30px, 8vw, 80px);
  font-weight: 900;
  position: relative;
  margin-top: 0;
}

#intro .intro-container .intro-h1::after {
  content: "Arun Sharma";
  position: absolute;
  top: -15px;
  left: 0px;
  height: 100%;
  width: 100%;
  font-size: clamp(30px, 8vw, 80px);
  color: transparent;
  -webkit-text-stroke: 0.5px #45474b;
  transform: scale(1);
  z-index: 5;
  opacity: 0.5;
  font-weight: 900;
}

.intro-h5 {
  font-size: clamp(18px, 3vw, 80px);
  font-weight: 800;
  margin: 0 0 20px 0;
}

.intro-paragraph2 {
  line-height: 2.5rem;
  margin: 0 0 20px 0;
}

button {
  max-width: 120px;
  width: 120px;
  height: 50px;
  font-weight: 800;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  background-color: #495e57;
  color: #f5f7f8;
  --border-radius: 8px;
  --border-width: 4px;
  appearance: none;
  position: relative;

  border: 0;

  z-index: 2;
}
button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(#488cfb, #29dbbc, #ddf505, #ff9f0e, #e440bb, #655adc, #488cfb);
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

button:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

button,
button::after {
  box-sizing: border-box;
}

button:active {
  --border-width: 5px;
}

@media screen and (max-width: 1364px) {
  .intro-container {
    margin: 1rem 5rem 1rem 5rem;
  }
}

@media screen and (max-width: 1094px) {
  .intro-container {
    margin: 1rem 5rem 1rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    margin-top: 10px;
  }

  .intro-container {
    margin: 1rem 1rem 3rem 1rem;
  }

  .intro-h1 {
    font-size: clamp(30px, 9vw, 80px);
  }

  #intro .intro-container .intro-h1::after {
    font-size: clamp(30px, 9vw, 80px);
    top: -15px;
    left: -1px;
    transition: all 0.2s linear;
    margin-top: 4px;
  }

  .intro-h5 {
    font-size: clamp(25px, 5vw, 80px);
  }
}
