@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* --------------------Root ELements--------------------  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  overflow: hidden;
  white-space: wrap;
  word-break: break-word;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: left;
}

:root {
  --bg-color: #f5f7f8;
  --color: #45474b;
  --color2: #495e57;
  --highlight: #f4ce14;
}
/* --------------------Root ELements-------------------- */

/*------------------Navbar-------------------*/

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: var(--color);
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--bg-color);
}
.nav-menu {
  display: flex;
  padding: 0 43px;
  align-items: start;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--bg-color);
}

.nav-link:hover {
  color: var(--highlight);
}

.nav-logo {
  font-size: 1rem;
  font-weight: 500;
  color: var(--bg-color);
}
@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    z-index: 200;
    right: -100%;
    top: 3.9rem;
    flex-direction: column;
    background-color: var(--color);
    width: 70%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/*------------------Navbar-------------------*/

/*------------------Intro-------------------*/

#intro {
  background-color: var(--bg-color);
  width: 100%;
  height: 92vh;
}

.intro-wrapper {
  background-color: var(--bg-color);
  height: 92vh;
  display: flex;
  color: var(--color);
}

.intro-container {
  margin: 5.5rem 25rem 5.5rem 6rem;
  padding: 0%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-color);
}

.intro-paragraph1 {
  font-size: 1rem;
  margin: 0 0 20px 0;
}

.intro-h1 {
  text-transform: uppercase;
  font-size: clamp(30px, 8vw, 80px);
  font-weight: 900;
  position: relative;
  margin-top: 0;
}

#intro .intro-container .intro-h1::after {
  content: "Arun Sharma";
  position: absolute;
  top: -13px;
  left: 0px;
  height: 100%;
  width: 100%;
  font-size: clamp(30px, 8vw, 80px);
  color: transparent;
  -webkit-text-stroke: 0.5px #45474b;
  transform: scale(1);
  z-index: 5;
  opacity: 0.5;
  font-weight: 900;
}

.intro-h5 {
  font-size: clamp(18px, 3vw, 80px);
  font-weight: 800;
  margin: 0 0 20px 0;
}
.ideas {
  background-image: radial-gradient(circle, #f4ce14, #e3c224, #d3b62e, #c3ab35, #b39f3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-paragraph2 {
  line-height: 2.3rem;
  margin: 0 0 20px 0;
}

button {
  max-width: 120px;
  width: 120px;
  height: 50px;
  font-weight: 800;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  background-color: var(--color2);
  color: var(--bg-color);
  --border-radius: 8px;
  --border-width: 4px;
  appearance: none;
  position: relative;
  border: 0;
  z-index: 2;
}
button::after {
  --m-i: linear-gradient(#000, #000);
  --m-o: content-box, padding-box;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: var(--border-width);
  border-radius: var(--border-radius);
  background-image: conic-gradient(#488cfb, #29dbbc, #ddf505, #ff9f0e, #e440bb, #655adc, #488cfb);
  -webkit-mask-image: var(--m-i), var(--m-i);
  mask-image: var(--m-i), var(--m-i);
  -webkit-mask-origin: var(--m-o);
  mask-origin: var(--m-o);
  -webkit-mask-clip: var(--m-o);
  mask-composite: exclude;
  -webkit-mask-composite: destination-out;
  filter: hue-rotate(0);
  animation: rotate-hue linear 500ms infinite;
  animation-play-state: paused;
}

button:hover::after {
  animation-play-state: running;
}

@keyframes rotate-hue {
  to {
    filter: hue-rotate(1turn);
  }
}

button,
button::after {
  box-sizing: border-box;
}

button:active {
  --border-width: 5px;
}

@media screen and (max-width: 1364px) {
  .intro-container {
    margin: 1rem 5rem 1rem 5rem;
  }
}

@media screen and (max-width: 1094px) {
  .intro-container {
    margin: 1rem 5rem 1rem 5rem;
  }
}

@media screen and (max-width: 768px) {
  .intro-container {
    margin: 1rem 1rem 3rem 1rem;
  }

  .intro-h1 {
    font-size: clamp(30px, 9vw, 80px);
  }

  #intro .intro-container .intro-h1::after {
    font-size: clamp(30px, 9vw, 80px);
    top: -15px;
    left: -1px;
    transition: all 0.2s linear;
    margin-top: 4px;
  }

  .intro-h5 {
    font-size: clamp(25px, 5vw, 80px);
  }
}

/*------------------Intro-------------------*/

/*------------------About Me-------------------*/

#about-me {
  background-color: var(--bg-color);
  width: 100%;
  height: 92vh;
}

.am-wrapper {
  background-color: var(--bg-color);
  height: 92vh;
  display: flex;
  color: var(--color);
}

.am-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin: 9rem 25rem 9rem 6rem;
  padding: 0%;
  position: relative;
}

.am-paragraph1,
.am-paragraph2 {
  font-size: 1rem;
  margin: 0 0 20px 0;
  line-height: 2.3rem;
  margin: 20px 0;
}

.am-h1 {
  font-size: clamp(30px, 3.5rem, 80px);
  font-weight: 900;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}

.am-h1::after {
  position: absolute;
  content: "";
  display: block;
  height: 2px;
  background: var(--color);
  left: 300px;
  bottom: 50%;
  width: 46.875rem;
}
@media screen and (max-width: 1364px) {
  .am-container {
    margin: 1rem 1rem 1rem 1rem;
  }
}

@media screen and (max-width: 1094px) {
  .am-container {
    margin: 1rem 1rem 1rem 1rem;
  }
}

@media screen and (max-width: 768px) {
  .am-container {
    margin: 1rem 1rem 1rem 1rem;
  }

  .am-h1 {
    font-size: clamp(30px, 9vw, 80px);
  }

  .am-h1::after {
    left: 195px;
    width: 11.5rem;
  }
  .am-paragraph1,
  .am-paragraph2 {
    margin-top: -240px;
  }
}

/*------------------About Me-------------------*/
